@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

* {
    background-color: #FFFEF0;
    padding: 0 .1rem;
}

p {
    font-family: "Domine", serif;
    font-weight: 100;
}

h2, h3{
    color: #734E39 !important;
    font-family: "Domine", serif;
    font-weight: bold;
}

:root {
    --secondary-color: #68902B;
  }